In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/demo-sample-4.csv")

In [3]:
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,251204,0,Cash loans,M,Y,N,1,180000.0,805536.0,34128.0,...,Connectivity,NaN,XNA,POS mobile with interest,NaN,NaN,NaN,NaN,NaN,NaN
1,265599,0,Cash loans,F,Y,N,0,135000.0,472500.0,46161.0,...,Furniture,12.0,middle,POS industry with interest,365243.0,-474.0,-144.0,-294.0,-288.0,0.0
2,337233,0,Cash loans,M,N,Y,0,180000.0,269550.0,18364.5,...,XNA,12.0,high,Cash X-Sell: high,NaN,NaN,NaN,NaN,NaN,NaN
3,303361,0,Revolving loans,F,N,Y,0,157500.0,270000.0,13500.0,...,Consumer electronics,18.0,middle,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN
4,428074,0,Cash loans,F,N,N,0,90000.0,900000.0,32328.0,...,Construction,6.0,low_normal,POS household with interest,365243.0,-1383.0,-1233.0,-1233.0,-1231.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,329785,0,Cash loans,F,N,Y,0,135000.0,781920.0,25839.0,...,Connectivity,12.0,high,POS mobile with interest,365243.0,-2357.0,-2027.0,-2027.0,-2019.0,1.0
5039,412771,1,Cash loans,F,N,Y,0,157500.0,1174090.5,46692.0,...,Consumer electronics,10.0,low_normal,POS household with interest,NaN,NaN,NaN,NaN,NaN,NaN
5040,440800,0,Cash loans,F,N,Y,0,157500.0,360000.0,17446.5,...,XNA,36.0,middle,Cash Street: middle,365243.0,-2668.0,-1618.0,-2008.0,-2004.0,0.0
5041,224926,0,Cash loans,F,N,Y,0,90000.0,225000.0,22050.0,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
5042,147521,1,Cash loans,F,N,Y,0,360000.0,547272.0,39955.5,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
duplicates = df[df.duplicated('SK_ID_CURR')]

In [4]:
duplicates

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,id_modified
345,263133,0,Cash loans,F,N,Y,0,135000.0,958122.0,34542.0,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1295,353006,0,Cash loans,F,N,N,0,153000.0,1006920.0,51543.0,...,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1340,263133,0,Cash loans,F,N,Y,0,135000.0,958122.0,34542.0,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1574,354292,0,Cash loans,F,N,Y,0,382500.0,1011955.5,43006.5,...,24.0,low_action,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1719,297517,0,Cash loans,F,Y,Y,0,112500.0,301500.0,10957.5,...,0.0,XNA,Card X-Sell,-535.0,-486.0,365243.0,365243.0,365243.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4881,152307,0,Revolving loans,F,N,Y,0,135000.0,337500.0,16875.0,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4942,428426,0,Cash loans,F,N,Y,0,157500.0,225000.0,21253.5,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4988,218545,0,Cash loans,M,N,Y,0,148500.0,252000.0,12996.0,...,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4992,321511,0,Cash loans,M,Y,Y,0,193500.0,450000.0,22977.0,...,12.0,low_normal,POS household with interest,365243.0,-2661.0,-2331.0,-2541.0,-2539.0,1.0,NaN
5038,420908,1,Cash loans,F,N,Y,0,157500.0,747000.0,21838.5,...,24.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN,NaN

def add_unique_suffix(df, column):
    duplicates = df[df.duplicated(subset=[column], keep=False)]
    suffix_map = {}
    for value in duplicates[column].unique():
        suffix = 1
        for index, row in duplicates.iterrows():
            if row[column] == value:
                df.at[index, column] = f"{value}_{suffix}"
                suffix += 1
                suffix_map[value] = suffix
                return df

In [5]:
df['SK_ID_CURR'].nunique()

4983

# Add unique suffixes to the 'ID' column
df_with_suffixes = add_unique_suffix(df, 'SK_ID_CURR')

df_with_suffixes

df_with_suffixes['SK_ID_CURR'].nunique()

df_with_suffixes.to_csv('output.csv', index=False)

In [6]:
def add_unique_suffix_2(df, column_name):
    # Track the counts of each value in the ID column
    value_counts = df[column_name].value_counts()

    # Iterate over the DataFrame rows
    for index, row in df.iterrows():
        id_value = row[column_name]
        count = value_counts[id_value]

        # If there is more than one occurrence of the ID value, add a suffix
        if count > 1:
            suffix = f'_{count - 1}'
            df.at[index, column_name] = f'{id_value}{suffix}'

        # Update the count after adding the suffix
        value_counts[id_value] -= 1

In [7]:

# Call the function to add unique suffixes to the duplicate ID values
add_unique_suffix_2(df, 'SK_ID_CURR')

In [8]:
df['SK_ID_CURR'].nunique()

5050

In [9]:
df.iloc[1294]

SK_ID_CURR                       451894
TARGET                                0
NAME_CONTRACT_TYPE_x         Cash loans
CODE_GENDER                           F
FLAG_OWN_CAR                          N
                                ...
DAYS_LAST_DUE_1ST_VERSION        -715.0
DAYS_LAST_DUE                    -745.0
DAYS_TERMINATION                 -741.0
NFLAG_INSURED_ON_APPROVAL           0.0
id_modified                         NaN
Name: 1294, Length: 159, dtype: object

In [10]:
df.to_csv("../data/demo-sample-4-1.csv", index=False)